@page "/"

@using MudBlazor
@using VHSMovies.Api.Integration.Main.Clients
@using VHSMovies.Api.Integration.Main.Responses
@using VHSMovies.Website.Components.Shared

@inject ITitlesClient titlesClient
@inject HttpClient httpClient


@if (loading)
{
    <div class="loading-container">
        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
    </div>
}
else
{
    <MudContainer>
        <HomeFeaturedMovie Src="@blackWidowBackgroundImage" Title="@blackWidowDetails" />
    </MudContainer>
    <div class="custom-line align-content-center justify-content-center" style="height:2px;width:100%;"></div>

    <div class="pt-10">
        <HomeTopics Titles="@mostRelevantTitles" TopicName="Most Relevant Titles" />

        <HomeTopics Titles="@mostRelevantSciFiTitles" TopicName="Most Relevant Sci-Fi Titles" />

        <HomeTopics Titles="@mostRelevantActionTitles" TopicName="Most Relevant Action Titles" />
    </div>
}

<style>
    .custom-line {
        top: 778px;
        gap: 0px;
        opacity: 0px;
        background-color: #D9D9D9;
    }
</style>

@code {
    string blackWidowBackgroundImage = "https://s3-alpha-sig.figma.com/img/6115/1284/ab8e0632bc53aad0618e87caa55f64f8?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ST0NtHWROGsrAPp6VMbYFHkp4L7BtQceZH4VIViJAnfuSzq61yrt0yMy8LlJMra-5L-qTQ58JbUQeKNNIk4gQdTw647WxJlkMJLWIqixZhAj7hcpTRm8mzQlvYmWO8WfehYH2n8Qjo8JbK7yl7NwLOsAOXzC6O~jcHcM1hmSSvSwEjcuPq0z1v6FACT0-tb7pfb4ubvG~cXdiVsWRisOJGPsM6PM3cH2hUBH6kF6pt4fVb1YNrCMZHS4-0HWXBMoJdcKNzzk7UwKUbLz5dKrMifzLyB5Gl6TzbwefrGS7dty6JXraFBwQmN7MnDwYpxqYDmBQZaJmrbZRscjgGXkBw__";

    private IReadOnlyCollection<TitleResponse> mostRelevantTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantActionTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantSciFiTitles;

    private TitleResponse blackWidowDetails = new TitleResponse();

    int titleNumber = 0;

    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        blackWidowDetails = await titlesClient.GetTitleById(497698);

        mostRelevantActionTitles = await titlesClient.GetMostRelevantTitlesByGenre("action");
        mostRelevantSciFiTitles = await titlesClient.GetMostRelevantTitlesByGenre("science fiction");
        mostRelevantTitles = await titlesClient.GetMostRelevantTitles();

        loading = false;
    }
}