@page "/"

@using MudBlazor
@using VHSMovies.Api.Integration.Main.Clients
@using VHSMovies.Api.Integration.Main.Responses
@using VHSMovies.Website.Components.Shared

@inject ITitlesClient titlesClient

@if (loading)
{
    <LoadingContainer Color="@(websiteDetails.IsDarkMode ? Color.Primary : Color.Secondary)" />
}
else
{
    <MudContainer Class="position-relative">
        <HomeFeaturedMovie />
    </MudContainer>
    <MudDivider />

    <BackgroundStyle>
        
        <HomeTopics Titles="@mostRelevantSciFiTitles">
            <Topic TopicName="Most Relevant Sci-Fi Titles">
                <a href="/titles/most-relevant/" class="see-all-link d-flex align-items-center gap-2">
                    <MudText Typo="Typo.h6" Class="see-all">See All</MudText>
                    <MudIcon Class="see-all" Icon="@Icons.Material.Filled.ArrowForwardIos" />
                </a>
            </Topic>
        </HomeTopics>
        
        <HomeTopics Titles="@mostRelevantActionTitles">
            <Topic TopicName="Most Relevant Action Titles">
                <a href="/titles/most-relevant/" class="see-all-link d-flex align-items-center gap-2">
                    <MudText Typo="Typo.h6" Class="see-all">See All</MudText>
                    <MudIcon Class="see-all" Icon="@Icons.Material.Filled.ArrowForwardIos" />
                </a>
            </Topic>
        </HomeTopics>
    </BackgroundStyle>

    <style>
        .pt-10 {
            position: relative;
            background-image: url('@(websiteDetails is not null ? websiteDetails.BackgroundImage : string.Empty)');
            background-size: cover;
            background-position: center;
            @* background-attachment: fixed; *@
        }
    </style>
}

@code {
    [CascadingParameter]
    protected WebsiteDetails? websiteDetails { get; set; }

    private IReadOnlyCollection<TitleResponse> mostRelevantActionTitles;
    private IReadOnlyCollection<TitleResponse> mostRelevantSciFiTitles;

    int titleNumber = 0;

    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        int rankPosition = 1;

        mostRelevantActionTitles = await titlesClient.GetMostRelevantTitlesByGenre(28);

        mostRelevantSciFiTitles = await titlesClient.GetMostRelevantTitlesByGenre(878);

        loading = false;
    }
}