@using VHSMovies.Api.Integration.Main.Responses

<MudCard class="movie-card">
    <MudCardHeader Class="pa-0">
        <CardHeaderContent>
            <div class="movie-poster">
                <img src="@Title.PosterImageUrl" alt="@Title.Name">
                <div class="movie-score">@Title.AverageRating</div>
                <MudPaper Class="exclude-button-paper justify-content-center align-items-center position-absolute" Elevation="0">
                    <MudIconButton 
                        Class="exclude-button" 
                        Icon="@Icons.Material.Filled.Close" 
                        Color="Color.Primary"
                        OnClick="ExcludeTitle"
                        ClickPropagation="true" />
                </MudPaper>
            </div>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent class="movie-info">
        <MudText Typo="Typo.h3">@Title.Name</MudText>
        <div class="movie-meta">
            @if (Title.ReleaseDate != null)
            {
                <span class="year">@Title.ReleaseDate.Value.Year</span>
            }
            @*
            <span class="director">Frank Darabont</span>
            *@
        </div>
        <div class="movie-genres">

            @foreach (GenreResponse genre in Title.Genres)
            {
                <span class="genre">@genre.Name</span>
            }
        </div>
        <p class="movie-desc">@Title.Description</p>
    </MudCardContent>
</MudCard>



@code {
    [Parameter]
    public TitleResponse Title { get; set; }

    [Parameter] public Func<Task> AsyncMethod { get; set; }

    private async Task ExcludeTitle()
    {
        if (AsyncMethod != null)
        {
            await AsyncMethod.Invoke();
        }
    }
}
